# Frontend
node_modules/
**/node_modules/
src/scheduleone-error-analyzer/dist/
src/scheduleone-error-analyzer/dist-ssr/

# Dotnet build output
**/bin/
**/obj/

# Logs and local files
*.log
*.local

# Editor files
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sw?

# Optional local VS Code settings
.vscode/*
!.vscode/extensions.json
